{% set lookup = salt['grains.filter_by']( {
  'AMD64': {
    'package': 'nsclient_x64',
    'service': 'nscp',
    'config': 'C:\\Program Files\\NSClient++\\nsclient.ini',
  },
  'x86': {
    'package': 'nsclient_x86',
    'service': 'nscp',
    'config': 'C:\\Program Files\\NSClient++\\nsclient.ini',
  },
}, merge=salt['pillar.get']('nsclient:lookup:server')) %}

{% set template = salt['grains.filter_by']({
    'default': {
        'pkg': 'nsclient',
        'service': 'template',
        'config': 'C:\\Program Files\\NSClient++\\nsclient.ini',
    },
}, merge=salt['pillar.get']('nsclient:lookup')) %}

{% set nsclient = {
    'lookup' : lookup
} %}
